[MESSAGES CONTROL]
disable=file-ignored,
        fixme,
        global-statement,
        import-error,
        invalid-name,
        locally-disabled,
        missing-docstring,
        no-member,
        relative-import,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals

[REPORTS]
reports=yes
