[MESSAGES CONTROL]
disable=file-ignored,
        fixme,
        global-statement,
        import-error,
        invalid-name,
        locally-disabled,
        missing-docstring,
        no-member,
        relative-import

[REPORTS]
reports=yes
