[MESSAGES CONTROL]
disable=duplicate-code,
        fixme,
        global-statement,
        import-error,
        invalid-name,
        locally-disabled,
        missing-docstring,
        relative-import,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals

[TYPECHECK]
ignored-modules=cv2,
                alsaaudio

[REPORTS]
reports=yes
